.panel.panel-default
  .panel-heading
    %h5 Rounds
  %ul
    %li{ ng_repeat: 'round in vm.rounds' }
      %a{ ui_sref: 'showTournament.showRound({ id: round.tournament.id, roundId: round.id })' }
        {{round.name}}
