.panel.panel-default
  .panel-heading
    .pull-left
      %h5 Rounds
    .clearfix
  -# %ul.nav.nav-pills.nav-stacked
  %ul
    %li{ :'ng-repeat' => 'round in vm.rounds' }
      %a{:'ui-sref' => 'showTournament.showRound({roundId: round.id})' }
        {{round.stage}}
