%table.table.table-hover
  %thead
    %tr
      %th{ style: 'width:10%' } №
      %th{ style: 'width:50%' } Team
      %th{ style: 'width:10%' } Games
      %th{ style: 'width:10%' } Wins
      %th{ style: 'width:10%' } Loses
      %th{ style: 'width:10%' } Points

  %tbody
    %tr{ ng_repeat: 'row in vm.championshipTable' }
      %td
        {{ $index+1 }}
      %td
        {{ row.team.name }}
      %td
        {{ row.games }}
      %td
        {{ row.wins }}
      %td
        {{ row.loses }}
      %td
        {{ row.points }}
