.panel.panel-default.panel-shadow
  .panel-body
    .command-panel
      %h3
        {{ vm.round.name }}

    %div{ ng_if: 'vm.championshipTable' }
      %hr
      %div{ ng_include: "'/templates/rounds/_table.html'" }

%div{ ui_view: 'games' }
