.panel.panel-default.panel-shadow
  .panel-body
    //%ncy-breadcrumb
    .command-panel
      .pull-left
        %h3 {{vm.round.name}}
      .pull-right
        .btn-group

      .clearfix
    %div{ :'ng-if' => 'vm.championshipTable' }
      %hr
      %div{ :'ng-include' => "'/templates/rounds/_table.html'" }
    -# %div{ :'ng-if' => '!vm.championshipTable', :'ng-include' => "'/templates/rounds/_grid.html'" }

%div{ :'ui-view' => 'games' }
