.panel.panel-default.panel-shadow
  .panel-body
    .command-panel
      %h3 Edit user
    %hr
      %form{ ng_submit: 'vm.update()',
             role: 'form',
             name: 'form',
             novalidate: true }

        =render 'templates/users/form'

        .form-group
          =render_button 'submit', ng_disabled: 'form.$invalid', text: 'Update'
          =render_button 'cancel'
