.panel.panel-default.panel-shadow
  .panel-body
    .command-panel
      .pull-left
        %h3
          Users
      .pull-right
        .btn-group
          =render_button 'new', ui_sref: 'newUser'
      .clearfix
    %hr
    %table.table.table-hover
      %tbody
        %tr{ ng_repeat: 'user in vm.users' }
          %td{ style: 'width:100%' }
            %a{ ui_sref: 'showUser(user)' }
              {{user.fullName}}
