.panel.panel-default.panel-shadow
  .panel-body
    .command-panel
      .pull-left
        %h3
          Users
      .pull-right
        .btn-group
          =render_button 'new', :'ui-sref' => 'newUser'
      .clearfix
    %hr
    %table.table.table-hover
      %tbody
        %tr{ :"ng-repeat" => "user in vm.users" }
          %td{ :style => "width:100%"}
            %a{ :'ui-sref' => "showUser(user)" }
              {{user.fullName}}
