.command-panel
  .pull-left
    %h3 Edit tournament
  .clearfix
%hr
  %form{ :'ng-submit' => 'update()',
         :class => 'form-horizontal',
         :role => 'form',
         :name => 'form',
         :novalidate => true }

    %div{ :'ng-include' => "'templates/tournament-form.html'" }

    .form-group
      .col-md-offset-3.col-md-9
        %button.btn.btn-success{ :type => 'submit',
                                 :'ng-disabled' => 'form.$invalid' } Update
        %button.btn.btn-default{ :type => 'button',
                                 :'ui-sref' => "tournaments" } Cancel
