%h3 New tournament
%hr
  %form{ :'ng-submit' => 'create()',
         :class => 'form-horizontal',
         :role => 'form',
         :name => 'newTournamentForm',
         :novalidate => true }

    .form-group.required{ :'ng-class' => "{ 'has-error': newTournamentForm.name.$touched && newTournamentForm.name.$invalid }" }
      %label{ class: 'control-label col-md-3' } Name:
      .col-md-9
        %input#name.form-control{ :'ng-model' => 'data.name',
                                  :name => 'name',
                                  :required => true,
                                  :type => 'text'}
    .form-group.required{ :'ng-class' => "{ 'has-error': newTournamentForm.form.$touched && newTournamentForm.form.$invalid }" }
      %label{ class: 'control-label col-md-3' } Type:
      .col-md-9
        %select.form-control{:'ng-model' => 'data.form',
                             :name => 'form',
                             :required => true,
                             :'ng-trim' => 'true'}
          %option
          %option=TOURNAMENT_FORMS::SINGLES
          %option=TOURNAMENT_FORMS::DOUBLES
    .form-group.required{ :'ng-class' => "{ 'has-error': newTournamentForm.start.$touched && newTournamentForm.start.$invalid }" }
      %label{ class: 'control-label col-md-3' } Start:
      .col-md-9
        %input#name.form-control{ :'ng-model' => 'data.start',
                                  :name => 'start',
                                  :required => true,
                                  :type => 'date'}
    .form-group.required
      %label{ class: 'control-label col-md-3' } Rounds:
      .col-md-9
        %div{:'ui-view' => 'rounds'}
    .form-group
      .col-md-offset-3.col-md-9
        %button.btn.btn-success{ :type => 'submit',
                                 :'ng-disabled' => 'newTournamentForm.$invalid' } Create
        %button.btn.btn-default{ :type => 'button',
                                 :'ui-sref' => "^" } Cancel
