%h3 {{vm.formName}}
%hr
  %form{ :'ng-submit' => 'vm.submit()',
         :class => 'form-horizontal',
         :role => 'form',
         :name => 'form',
         :novalidate => true }

    .form-group.required{ :'ng-class' => "{ 'has-error': form.name.$touched && form.name.$invalid }" }
      %label{ class: 'control-label col-md-3' } Name:
      .col-md-9
        %input#name.form-control{ :'ng-model' => 'vm.current.name',
                                  :name => 'name',
                                  :required => true,
                                  :type => 'text'}
                                  
    .form-group.required{ :'ng-class' => "{ 'has-error': form.form.$touched && form.form.$invalid }" }
      %label{ class: 'control-label col-md-3' } Type:
      .col-md-9
        %select.form-control{:'ng-model' => 'vm.current.form',
                             :name => 'form',
                             :required => true,
                             :'ng-trim' => 'true'}
          %option
          %option=TOURNAMENT_FORMS::SINGLES
          %option=TOURNAMENT_FORMS::DOUBLES

    .form-group.required
      %label{ class: 'control-label col-md-3' } Rounds:
      .col-md-9
        %div{:'ui-view' => 'rounds'}
    .form-group
      .col-md-offset-3.col-md-9
        %button.btn.btn-success{ :type => 'submit',
                                 :'ng-disabled' => 'form.$invalid' } {{vm.submitBtnName}}
        %button.btn.btn-default{ :type => 'button',
                                 :'ui-sref' => "^" } Cancel
