.form-group.required{ :'ng-class' => "{ 'has-error': form.name.$touched && form.name.$invalid }" }
  %label.control-label Name:
  %input.form-control{ :'ng-model' => 'vm.tournament.name',
                            :name => 'name',
                            :required => true,
                            :type => 'text'}

.form-group.required{ :'ng-class' => "{ 'has-error': form.mode.$touched && form.mode.$invalid }" }
  %label.control-label Type:
  %select.form-control{:'ng-model' => 'vm.tournament.mode',
                       :name => 'mode',
                       :required => true,
                       :'ng-trim' => 'true',
                       :'ng-change' => "onSelectTournamentForm()"}
    %option
    -TOURNAMENT::MODES.constants.each do |name|
      %option=TOURNAMENT::MODES.const_get(name)

.form-group.required{ :'ng-class' => "{ 'has-error': form.status.$touched && form.status.$invalid }" }
  %label.control-label Status:
  %select.form-control{:'ng-model' => 'vm.tournament.status',
                       :name => 'status',
                       :required => true,
                       :'ng-trim' => 'true'}
    %option
    -TOURNAMENT::STATUSES.constants.each do |name|
      %option=TOURNAMENT::STATUSES.const_get(name)
