.panel.panel-default.panel-shadow
  .panel-body
    //%ncy-breadcrumb
    .command-panel
      .pull-left
        %h3
          Tournaments
      .pull-right
        .btn-group
          =render_button 'new', :'ui-sref' => 'newTournament.tournament'
      .clearfix
    %hr
    %table.table.table-hover
      %tbody
        %tr{ :"ng-repeat" => "tournament in vm.tournaments" }
          %td{ :style => "width:10%"}
            {{tournament.id}}
          %td{ :style => "width:50%"}
            %a{ :'ui-sref' => "showTournament(tournament)" }
              {{tournament.name}}
          %td{ :style => "width:10%"}
            {{tournament.teamsType}}
          %td{ :style => "width:10%"}
            {{tournament.roundsType}}
          %td{ :style => "width:10%"}
            {{tournament.status}}
