.panel.panel-default.panel-shadow
  .panel-body
    .command-panel
      .pull-left
        %h3
          Tournaments
      .pull-right
        .btn-group{ ng_show: 'currentUser.admin' }
          =render_button 'new', ui_sref: 'newTournament.tournament'
      .clearfix

    %form.form-vertical.select-filter-panel
      .col-sm-3{ ng_if:  'vm.yearFilter'}
        .form-group
          %label.control-label Year:
          %ui-select{ ng_model: 'vm.selectedYear' }
            %ui-select-match
              %span{ ng_bind: '$select.selected' }
              %a.btn.btn-xs.btn-link{ ng_click: 'vm.rootScope.clearSelectFilter($event, $select);' }
                %i.ion-close
            %ui-select-choices{ repeat: 'item in (vm.yearFilter | filter: $select.search)' }
              %span{ ng_bind: 'item' }

      .col-sm-3{ ng_if:  'vm.statusFilter'}
        .form-group
          %label.control-label Status:
          %ui-select{ ng_model: 'vm.selectedStatus' }
            %ui-select-match
              %span{ ng_bind: '$select.selected.value' }
              %a.btn.btn-xs.btn-link{ ng_click: 'vm.rootScope.clearSelectFilter($event, $select)' }
                %i.ion-close
            %ui-select-choices{ repeat: "item.value as (key, item) in vm.statusFilter | filter: {'value':$select.search}" }
              %span{ ng_bind: 'item.value' }

      .col-sm-3
        .form-group
          %label.control-label Search:
          %input.form-control{ ng_model: 'search' }
    .clearfix
    %hr
    .tournaments-container
      .tournament{ ng_repeat: 'tournament in vm.tournaments  | filter: vm.selectedFilter | filterBy: ["name"] : search' }
        .left
          .title
            %a{ ui_sref: 'showTournament(tournament)' }
              {{tournament.name}}
          .data
            {{tournament.teamsType}}
            %br
            {{tournament.createdAt | date:'yyyy' }}
        .right
          .status
            {{ tournament.finished ? 'Finished' : '' }}
          .winner
            .title
              Winner
            {{tournament.winner.name}}
        .clearfix
