
=render 'templates/tournaments/form'

.form-group.row
  .col-xs-3.col-xs-offset-4
    %a.btn.btn-block.btn-info{:'ui-sref' => 'newTournament.players' }
      Next
      %span.glyphicon.glyphicon-circle-arrow-right
