=render 'templates/tournaments/select_players'

.form-group.row
  .col-xs-3.col-xs-offset-4
    %a.btn.btn-block.btn-info{:'ui-sref' => 'newTournament.round'}
      Next
      %span.glyphicon.glyphicon-circle-arrow-right
