.panel.panel-default.panel-shadow
  .panel-body
    .command-panel
      .pull-left
        %h3 {{vm.tournament.name}}
      .pull-right
        .btn-group{ :'ng-show' => 'currentUser.admin' }
          =render_button 'edit', :'ui-sref' => 'editTournament(vm.tournament)'
          =render_button 'destroy', :'ng-click' => 'vm.destroy()'
      .clearfix

=render 'templates/rounds/index'
=render 'templates/teams/index'

%div{ :'ui-view' => 'games' }
