%div{ :'ui-view' => 'tournament' }
  .panel.panel-default.panel-shadow
    .panel-body
      .command-panel
        .pull-left
          %h3 {{tournament.name}}
        .pull-right
          .btn-group
            =render_button 'edit', :'ui-sref' => '.editTournament(tournament)'
            =render_button 'destroy', :'ng-click' => 'destroy(tournament)'
        .clearfix
      %hr
      %form{ :role => 'form',
             :name => 'form',
             :novalidate => true }

        .form-group
          %label.control-label Type
          %h5 {{tournament.mode}}

        .form-group
          %label.control-label Status
          %h5 {{tournament.status}}

        .form-group
          =render_button 'cancel', :'ui-sref' => '^'

%div{ :'ui-view' => 'players' }
%div{ :'ui-view' => 'rounds' }
