.game
  .game-title
  .game-body
    .game-team
      {{game.team1.player1.firstName}} {{game.team1.player1.lastName}}
    %hr
    .game-team
      {{game.team2.player1.firstName}} {{game.team2.player1.lastName}}
