.panel.panel-default.panel-shadow
  .panel-body
    .command-panel
      .pull-left
        %h3
          Profile
      .pull-right
        .btn-group
          %button.btn.btn-default{ :'ui-sref' => "editProfile(user)" } Edit
      .clearfix
    %hr
    -# TODO: -Destroy profile and -change password

    %form{ :role => 'form',
           :name => 'form',
           :novalidate => true }

      .form-group
        %label.control-label
          %i.ion-person
          Name
        %h5.form-text-under-icon {{user.firstName}}

      .form-group
        %label.control-label
          %i.ion-person
          Surname
        %h5.form-text-under-icon {{user.lastName}}

      .form-group
        %label.control-label
          %i.ion-at
          Email
        %h5.form-text-under-icon {{user.email}}
=render 'linked_accounts'
