.panel.panel-default
  .panel-body
    .command-panel
      .pull-left
        %h3
          Edit profile
      .clearfix
    %hr

    %form{ :'ng-submit' => 'update()',
           :role => 'form',
           :name => 'form',
           :novalidate => true }

      .form-group{ :'ng-class' => "{ 'has-error': form.name.$touched && form.name.$invalid }" }
        %label.control-label
          %i.ion-person
          Name
        %input.form-control{ :'ng-model' => 'user.name',
                                     :name => 'name',
                                     :required => true,
                                     :type => 'text' }
      .form-group{ :'ng-class' => "{ 'has-error': form.surname.$touched && form.surname.$invalid }" }
        %label.control-label
          %i.ion-person
          Surname
        %input.form-control{ :'ng-model' => 'user.surname',
                                     :name => 'name',
                                     :required => true,
                                     :type => 'text' }

      .form-group{ :'ng-class' => "{ 'has-error': form.email.$touched && form.email.$invalid }" }
        %label.control-label
          %i.ion-at
          Email
        %input.form-control{ :'ng-model' => 'user.email',
                                     :name => 'email',
                                     :required => true,
                                     :type => 'email' }

      .form-group
        %button.btn.btn-success{ :type => 'submit', :'ng-disabled' => 'form.$invalid' } Update

        %button.btn.btn-default{ :type => 'button',
                                 :'ui-sref' => "^" } Cancel
