.panel.panel-default{:'ng-init' => '$parent.data.rounds = []; tmp_rounds = []'}
  -# -----------------------------------------------------------------------------------------------------
  %div{:'ng-if' => '$parent.data.rounds'}
    %h5
      %ol
        %li{:'ng-repeat' => 'round in $parent.data.rounds'}
          %p
            {{round.form}}: {{round.match_sets}} sets
            %span{:'ng-show' => "round.form.trim()=='#{ROUND_FORMS::CHAMPIONSHIP}'"}
              {{round.points_per_win}} points per win

  -# -----------------------------------------------------------------------------------------------------

  .well-sm
    %button.btn.btn-default{ :'ng-click' => 'showAddingRound = true; tmp_rounds.push({})',
                             :'ng-show' => '!showAddingRound'} Add
  -# -----------------------------------------------------------------------------------------------------
  %div{:'ng-if' => 'showAddingRound'}

    %ng-form{ :class => 'form-horizontal',
           :role => 'form',
           :name => 'newTournamentRoundsForm',
           :novalidate => true}

      .form-group.required{ :'ng-class' => "{ 'has-error': newTournamentRoundsForm.form.$touched && newTournamentRoundsForm.form.$invalid }" }
        %label{ class: 'control-label col-md-3' } Type:
        .col-md-8
          %select.form-control{:'ng-model' => 'tmp_rounds[tmp_rounds.length-1].form',
                               :name => 'form',
                               :required => true}
            %option
            %option
              =ROUND_FORMS::CHAMPIONSHIP
            %option
              =ROUND_FORMS::PLAY_OFF
      .form-group.required{ :'ng-class' => "{ 'has-error': newTournamentRoundsForm.match_sets.$touched && newTournamentRoundsForm.match_sets.$invalid }" }
        %label{ class: 'control-label col-md-3' } Match sets:
        .col-md-8
          %input#name.form-control{ :'ng-model' => 'tmp_rounds[tmp_rounds.length-1].match_sets',
                                    :name => 'match_sets',
                                    :required => true,
                                    :type => "number"}
      .form-group.required{ :'ng-class' => "{ 'has-error': newTournamentRoundsForm.points_per_win.$touched && newTournamentRoundsForm.points_per_win.$invalid }",
                            :'ng-if' => "tmp_rounds[tmp_rounds.length-1].form.trim()=='#{ROUND_FORMS::CHAMPIONSHIP}'"}

        %label{ class: 'control-label col-md-4' } Points per win:
        .col-md-7
          %input#name.form-control{ :'ng-model' => 'tmp_rounds[tmp_rounds.length-1].points_per_win',
                                    :name => 'points_per_win',
                                    :required => true,
                                    :type => "number"}
      .form-group
        .col-md-offset-3.col-md-8
          %button.btn.btn-success{ :'ng-click' => '$parent.showAddingRound = false; $parent.data.rounds.push(tmp_rounds.pop())',
                                   :'ng-disabled' => 'newTournamentRoundsForm.$invalid' } OK
          %button.btn.btn-default{ :'ng-click' => '$parent.showAddingRound = false; tmp_rounds.pop()' } Cancel
