.panel.panel-default{:'ng-init' => 'tournament.rounds = []; tmp_rounds = []'}
  .panel-heading
    .pull-left
      %h5 Rounds
    .pull-right
      .btn-group
        %button.btn.btn-default{ :'ng-click' => '$scope.showAddingRound = true; tmp_rounds.push({})',
                                 :'ng-show' => '!$scope.showAddingRound',
                                 :type => 'button'} Add
    .clearfix
  .panel-body
    -# -----------------------------------------------------------------------------------------------------
    %div{:'ng-if' => 'tournament.rounds'}
      %h5
        %ol
          %li{:'ng-repeat' => 'round in tournament.rounds'}
            %p
              {{round.form}}: {{round.match_sets}} sets
              %span{:'ng-show' => "round.form.trim()=='#{ROUND_FORMS::CHAMPIONSHIP}'"}
                {{round.points_per_win}} points per win

                -# TODO views + controllers as like tournament

    -# -----------------------------------------------------------------------------------------------------
    -#
    -# .well-sm
    -#   %button.btn.btn-default{ :'ng-click' => '$scope.showAddingRound = true; tmp_rounds.push({})',
    -#                            :'ng-show' => '!$scope.showAddingRound',
    -#                            :type => 'button'} Add
    -# -----------------------------------------------------------------------------------------------------
    %div{:'ng-if' => '$scope.showAddingRound'}

      %ng-form{ :class => 'form-horizontal',
             :role => 'form',
             :name => 'form',
             :novalidate => true}

        .form-group.required{ :'ng-class' => "{ 'has-error': form.form.$touched && form.form.$invalid }" }
          %label{ class: 'control-label col-md-3' } Type:
          .col-md-8
            %select.form-control{:'ng-model' => 'tmp_rounds[tmp_rounds.length-1].form',
                                 :name => 'form',
                                 :required => true}
              %option
              %option=ROUND_FORMS::CHAMPIONSHIP
              %option=ROUND_FORMS::PLAY_OFF
        .form-group.required{ :'ng-class' => "{ 'has-error': form.match_sets.$touched && form.match_sets.$invalid }" }
          %label{ class: 'control-label col-md-3' } Match sets:
          .col-md-8
            %input#name.form-control{ :'ng-model' => 'tmp_rounds[tmp_rounds.length-1].match_sets',
                                      :name => 'match_sets',
                                      :required => true,
                                      :type => "number"}
        .form-group.required{ :'ng-class' => "{ 'has-error': form.points_per_win.$touched && form.points_per_win.$invalid }",
                              :'ng-if' => "tmp_rounds[tmp_rounds.length-1].form.trim()=='#{ROUND_FORMS::CHAMPIONSHIP}'"}

          %label{ class: 'control-label col-md-4' } Points per win:
          .col-md-7
            %input#name.form-control{ :'ng-model' => 'tmp_rounds[tmp_rounds.length-1].points_per_win',
                                      :name => 'points_per_win',
                                      :required => true,
                                      :type => "number"}
        .form-group
          .col-md-offset-3.col-md-8
            %button.btn.btn-success{ :'ng-click' => '$scope.showAddingRound = false; tournament.rounds.push(tmp_rounds.pop())',
                                     :'ng-disabled' => 'form.$invalid' } OK
            %button.btn.btn-default{ :'ng-click' => '$scope.showAddingRound = false; tmp_rounds.pop()' } Cancel
