.panel.panel-default
  .panel-heading
    .pull-left
      %h5 Players
    .pull-right
      .btn-group
        =render_button 'edit', :'ui-sref' => 'showTournament.editPlayers'
    .clearfix
  -# .list-container
  %ol
    %li{ :'ng-repeat' => 'player in players' }
      %h5 {{player.user.firstName}} {{player.user.lastName}}
