.panel.panel-default
  .panel-heading
    .pull-left
      %h5 Teams
    .pull-right
      .btn-group
        =render_button 'edit', :'ui-sref' => 'editTeam'
    .clearfix
  -# .list-container
  %ol
    %li{ :'ng-repeat' => 'team in vm.teams' }
      %h5 {{team.name}}
