.panel.panel-default
  .panel-heading
    .pull-left
      %h5 Games
    .pull-right
      %label Search:
      %input{ :'ng-model' => 'search' }
    .clearfix
  .games-list
    .panel.panel-body
      %div{ :'ng-repeat' => 'game in vm.games | filterBy: ["team1.player1.firstName + team1.player1.lastName", "team2.player1.firstName + team2.player1.lastName"]: search' }
        =render 'templates/games/game_singles'
