.game
  .game-title
    %a{ ui_sref: 'showTournament.showRound({ id: game.tournament.id, roundId: game.round.id })' } {{game.round.name}}
    .pull-right
      %div{ ng_show: 'currentUser.admin' }
        %a.btn.btn-sm.btn-default{ ng_click: 'game.edit = true', ng_show: '!game.edit' }
          %span.ion-edit
      %a.btn.btn-sm.btn-default{ ng_click: 'vm.update(game)', ng_show: 'game.edit' }
        %span.ion-checkmark
      %a.btn.btn-sm.btn-default{ ng_click: 'game.edit = false', ng_show: 'game.edit' }
        %span.ion-close
  .game-body
    .team
      .team-singles
        -# TODO: DOUBLES
        -# %a{ ui_sref: 'showPlayer({ id: game.team1.player1.id })' } {{game.team1.name}}
        {{game.team1.name}}
      .scores
        %div{ ng_repeat: 'set in game.score' }
          %div{ ng_show: '!game.edit' }
            {{set.team1}}
          %div{ ng_show: 'game.edit' }
            %input.form-control.set-control{ ng_model: 'set.team1',
                                type: 'number' }
      .winner-icon{ ng_show: 'vm.rootScope.equals(game.winner, game.team1)' }
        %span.ion-checkmark

    .clearfix
    %hr

    .team
      .team-singles
        -# %a{ ui_sref: 'showPlayer({ id: game.team2.player1.id })' }
        {{game.team2.name}}
      .scores
        %div{ ng_repeat: 'set in game.score' }
          %div{ ng_show: '!game.edit' }
            {{set.team2}}
          %div{ ng_show: 'game.edit' }
            %input.form-control.set-control{ ng_model: 'set.team2',
                                type: 'number' }
      .winner-icon{ ng_show: 'vm.rootScope.equals(game.winner, game.team2)' }
        %span.ion-checkmark
