.game
  .game-title
    %a{ :'ui-sref' => 'showTournament.showRound({ id: game.tournament.id, roundId: game.round.id })' } {{game.round.name}}
    .pull-right
      %a.btn.btn-sm.btn-default{ :'ng-click' => 'game.edit = true', :'ng-show' => '!game.edit' }
        %span.ion-edit
      %a.btn.btn-sm.btn-default{ :'ng-click' => 'vm.update(game)', :'ng-show' => 'game.edit' }
        %span.ion-checkmark
      %a.btn.btn-sm.btn-default{ :'ng-click' => 'game.edit = false', :'ng-show' => 'game.edit' }
        %span.ion-close
  .game-body
    .team
      .team-singles
        -# TODO: DOUBLES
        -# %a{ :'ui-sref'=> 'showPlayer({ id: game.team1.player1.id })' } {{game.team1.name}}
        {{game.team1.name}}
      .scores
        %div{ :'ng-repeat' => 'set in game.score' }
          %div{ :'ng-show' => '!game.edit' }
            {{set.team1}}
          %div{ :'ng-show' => 'game.edit' }
            %input.set-control{ :'ng-model' => 'set.team1',
                                :type => 'number' }
      .winner{ :'ng-show' => 'vm.rootScope.equals(game.winner, game.team1)' }
        %span.ion-checkmark

    .clearfix
    %hr

    .team
      .team-singles
        -# %a{ :'ui-sref'=> 'showPlayer({ id: game.team2.player1.id })' } 
        {{game.team2.name}}
      .scores
        %div{ :'ng-repeat' => 'set in game.score' }
          %div{ :'ng-show' => '!game.edit' }
            {{set.team2}}
          %div{ :'ng-show' => 'game.edit' }
            %input.set-control{ :'ng-model' => 'set.team2',
                                :type => 'number' }
      .winner{ :'ng-show' => 'vm.rootScope.equals(game.winner, game.team2)' }
        %span.ion-checkmark
