.panel.panel-default
  .panel-body
    .command-panel
      .pull-left
        %h3
          Linked accounts
      .clearfix
    %hr

    .btn-group-vertical
      %button.btn.btn-primary.btn-social{ ng_if: "!vm.have_auth('facebook')", ng_click: "vm.link('facebook')"}
        %span.ion-social-facebook
          Link Facebook Account
      %button.btn.btn-danger.btn-social{ ng_if: "vm.have_auth('facebook')", ng_click: "vm.unlink('facebook')"}
        %span.ion-social-facebook
          Unlink Facebook Account

      %button.btn.btn-primary.btn-social{ ng_if: "!vm.have_auth('vkontakte')", ng_click: "vm.link('vkontakte')"}
        %span.fa.fa-vk
          Link Vkontakte Account
      %button.btn.btn-danger.btn-social{ ng_if: "vm.have_auth('vkontakte')", ng_click: "vm.unlink('vkontakte')"}
        %span.fa.fa-vk
          Unlink Vkontakte Account

      %button.btn.btn-primary.btn-social{ ng_if: "!vm.have_auth('github')", ng_click: "vm.link('github')"}
        %span.ion-social-github
          Link Github Account
      %button.btn.btn-danger.btn-social{ ng_if: "vm.have_auth('github')", ng_click: "vm.unlink('github')"}
        %span.ion-social-github
          Unlink GitHub Account
