.panel.panel-default.panel-shadow
  .panel-body
    .command-panel
      .pull-left
        %h3
          Edit profile
      .clearfix
    %hr

    %form{ :'ng-submit' => 'vm.update()',
          :role => 'form',
          :name => 'form',
          :novalidate => true }

      .form-group{ :'ng-class' => "{ 'has-error': form.firstName.$touched && form.firstName.$invalid }" }
        %label.control-label
          %i.ion-person
          Name
        %input.form-control{ :'ng-model' => 'vm.user.firstName',
                             :name => 'firstName',
                             :required => true,
                             :type => 'text' }
      .form-group{ :'ng-class' => "{ 'has-error': form.lastName.$touched && form.lastName.$invalid }" }
        %label.control-label
          %i.ion-person
          Surname
        %input.form-control{ :'ng-model' => 'vm.user.lastName',
                             :name => 'lastName',
                             :required => true,
                             :type => 'text' }

      .form-group{ :'ng-class' => "{ 'has-error': form.email.$touched && form.email.$invalid }" }
        %label.control-label
          %i.ion-at
          Email
        %input.form-control{ :'ng-model' => 'vm.user.email',
                             :name => 'email',
                             :required => true,
                             :type => 'email' }

      .form-group
        =render_button 'submit', :'ng-disabled' => 'form.$invalid', text: 'Update'
        =render_button 'cancel'

=render 'templates/profile/linked_accounts'
