.games-list
  .panel.panel-body
    %div{ :'ng-repeat' => 'game in vm.games' }
      .game
        .game-title
          {{game.round.stage.value}}
        .game-body
          .game-team
            %div
              {{game.team1.player1.firstName}} {{game.team1.player1.lastName}}

          %hr
          .game-team
            %div
              {{game.team2.player1.firstName}} {{game.team2.player1.lastName}}


.form-group.row
  .col-xs-5.col-xs-offset-4
    =render_button 'submit', :text => 'Create', :'ng-click' => 'vm.create()'
    =render_button 'cancel', :'ui-sref' => 'tournaments'
