.panel.panel-default.panel-shadow
  .panel-body.form-container
    .command-panel
      %h3
        Create tournament
    %hr
    #status-buttons.text-center
      %div{ ng_repeat: 'status in vm.statusButtons'}
        %a{ ui_sref_active: 'active', ui_sref: '{{status.state}}' }
          %span
            {{ $index+1 }}
          {{status.name}}

    %form{ ng_submit: 'create()',
           role: 'form',
           name: 'form',
           novalidate: true }

      .form-views{ ui_view: true }
