.form-group
  %table.table-hover
    %thead
      %tr
        %th.col-md-1 №
        %th.col-md-9 Round
        %th.col-md-1 Sets
        %th.col-md-1
    %tbody
      %tr{ :'ng-repeat' => 'round in vm.rounds' }
        %td {{$index+1}}
        %td {{round.name}}
        %td
          %input.form-control{ :'ng-model' => 'round.sets',
                               :name => 'sets',
                               :type => 'number' }
        %td
          %a.btn.btn-default{ :'ng-click' => 'vm.removeRound(round)' }
            %span.ion-trash-a

.form-group.row
  .col-xs-3.col-xs-offset-3
    =render_button 'submit', :text => 'Create tournament', :'ng-click' => 'vm.create()'
  =render_button 'cancel'
