
=render 'templates/tournaments/rounds/form'

.form-group.row
  .col-xs-3.col-xs-offset-3
    =render_button 'next', :'ui-sref' => 'newTournament.games'
  =render_button 'cancel', :'ui-sref' => 'tournaments'
