.form-group.required{ ng_class: "{ 'has-error': form.name.$touched && form.name.$invalid }" }
  %label.control-label Name:
  %input.form-control{ ng_model: 'vm.tournament.name',
                       name: 'name',
                       required: true,
                       type: 'text'}

.form-group.required{ ng_class: "{ 'has-error': form.teamsType.$touched && form.teamsType.$invalid }" }
  %label.control-label Teams type:
  %select.form-control{ ng_model: 'vm.tournament.teamsType',
                        name: 'teamsType',
                        required: true,
                        ng_trim: 'true'}
    %option
    -TOURNAMENT::TEAMS_TYPES.constants.each do |name|
      %option=TOURNAMENT::TEAMS_TYPES.const_get(name)

.form-group.required{ ng_class: "{ 'has-error': form.roundsType.$touched && form.roundsType.$invalid }" }
  %label.control-label Rounds type:
  %select.form-control{ ng_model: 'vm.tournament.roundsType',
                        name: 'roundsType',
                        required: true,
                        ng_trim: 'true'}
    %option
    -TOURNAMENT::ROUNDS_TYPES.constants.each do |name|
      %option=TOURNAMENT::ROUNDS_TYPES.const_get(name)

.form-group.row
  .col-xs-3.col-xs-offset-3
    =render_button 'next', ui_sref: 'newTournament.players'
  =render_button 'cancel'
