/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require angular-ui-notification
 */
$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap-custom";
@import "ionicons/scss/ionicons";
@font-face {
  font-family: "Ionicons";
  src: url(ionicons/fonts/ionicons.eot?) format("eot"), url(ionicons/fonts/ionicons.woff) format("woff"), url(ionicons/fonts/ionicons.ttf) format("truetype");
}
body {
  padding: 55px;
  font-size: 14px;
  background: #e4e7ec;
  font-family: 'Open Sans', sans-serif;
}
.command-panel h3 {
  margin: 5px 0 0;
}
.center-form {
  width: 330px;
  margin: 6% auto;
}
.signup-or-separator {
  position: relative;
  height: 34px;
  text-align: center;
  background: none;
}
.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: #fff;
}
.signup-or-separator hr {
  width: 90%;
  margin: -16px auto 10px;
  border-top: 1px solid #dce0e0;
}
.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border: 1px solid #335190;
}
.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
  background-color: #294786;
}
.btn-github {
  color: #fff;
  background-color: #444;
  border: 1px solid #3b3b3b;
}
.btn-github:hover,
.btn-github:focus {
  color: #fff;
  background-color: #303030;
}
.btn-vkontakte {
  color: #fff;
  background-color: #007bb6;
  border: 1px solid #0073ae;
}
.btn-vkontakte:hover,
.btn-vkontakte:focus {
  color: #fff;
  background-color: #0069a4;
}
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group-vertical .btn {
  margin-bottom: 10px;
}
.breadcrumb {
  margin-bottom: 0;
  background-color: #f6f6f6;
}
.form-text-under-icon {
  padding-left: 15px;
}
.list-container {
  height: 200px;
  overflow: auto;
}
/* numbered buttons */
#status-buttons {}
#status-buttons a {
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
}
#status-buttons a:hover {
  text-decoration: none;
}
#status-buttons a:focus {
  text-decoration: none;
}
/* we will style the span as the circled number */
#status-buttons span {
  background: #080808;
  display: block;
  height: 30px;
  margin: 0 auto 10px;
  padding-top: 5px;
  width: 30px;
  border-radius: 50%;
  color: #fff;
}
/* active buttons turn light green-blue*/
#status-buttons a.active span {
  background: #00BC8C;
}
#status-buttons div {
  display: inline;
}
