/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "ionicons/scss/ionicons";
@import 'angular-ui-select/dist/select.min';
@import 'angular-ui-notification/dist/angular-ui-notification.min';
@import "*";

@font-face {
  font-family: "Ionicons";
  src: url(ionicons/fonts/ionicons.eot?) format("eot"), url(ionicons/fonts/ionicons.woff) format("woff"), url(ionicons/fonts/ionicons.ttf) format("truetype");
}

body {
  padding: 55px;
  font-size: 14px;
  background: #e4e7ec;
  font-family: 'Open Sans', sans-serif;
}
.breadcrumb {
  margin-bottom: 0;
  background-color: #f6f6f6;
}
.form-text-under-icon {
  padding-left: 15px;
}
.list-container {
  height: 150px;
  overflow: auto;
}
/* numbered buttons */
#status-buttons {}
#status-buttons a {
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
}
#status-buttons a:hover {
  text-decoration: none;
}
#status-buttons a:focus {
  text-decoration: none;
}
/* we will style the span as the circled number */
#status-buttons span {
  background: #01253E;
  display: block;
  height: 30px;
  margin: 0 auto 10px;
  padding-top: 5px;
  width: 30px;
  border-radius: 50%;
  color: #fff;
}
/* active buttons turn light green-blue*/
#status-buttons a.active span {
  background: #00BC8C;
}
#status-buttons div {
  display: inline;
}
hr {
  margin-top: 0px;
}
