.games-list .panel {
  background-color: #eeeeee;
}
.game {
  margin: 0 15px 15px 0;
  width: 270px;
  float: left;
  background-color: #fff;
}

.game hr {
  margin: 0;
}
.game-team {
  padding: 5px;
}
