.games-list .panel {
  background-color: #eeeeee;
}
.game {
  margin: 0 15px 15px 0;
  width: 270px;
  float: left;
  background-color: #fff;
}

.game hr {
  margin: 0;
}
.team {
  padding: 5px;
  width: 265px;
}
.game-title {
  font-size: smaller;
  color: #1987b0;
  margin-bottom: 5px;
  padding: 5px 5px;
}
.set-control {
  height: 24px;
  width: 36px;
  font-size: 12px;
}
.team-singles {
  float: left;
}
.winner {
  float: right;
  margin: 0 5px;
}
.scores {
  float: right;
}
