.games-list .panel {
  background-color: #eeeeee;
}
.game {
  margin: 0 15px 15px 0;
  width: 200px;
  float: left;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  background-color: #FFF;
}
.game:hover {
  border-color: rgb(173, 173, 173);
}
.game hr {
  margin: 5px;
}
.team {
  padding: 5px;
  margin: 5px;
  width: 190px;
  overflow: auto;
}
.game-title {
  font-size: smaller;
  color: #1987b0;
  margin-bottom: 5px;
  padding: 5px 5px;
}
.set-control {
  height: 20px;
  width: 34px;
  font-size: 12px;
  padding: 0 0 0 3px;
}
.team-singles {
  float: left;
}
.winner-icon {
  float: right;
  margin-right: 10px;
}
.scores {
  float: right;
}
