.select-filter-panel label {
  font-weight: none;
  font-size: 11px;
}
.select-filter-panel {
  i {
    color: #616663;
  }
}
.ui-select-bootstrap .ui-select-choices-row.active > a {
  background-color: #22b0a4;
}
