.panel.panel-default
  .panel-heading
    .pull-left
      %h5 Rounds
    .pull-right
      .btn-group
        =render_button 'new', :'ng-click' => '$scope.showAddingRound = true; tmp_rounds.push({})',
                              :'ng-show' => '!$scope.showAddingRound'
    .clearfix
  .panel-body
    -# %div{ :'ui-view' => 'body' }
    -# -----------------------------------------------------------------------------------------------------
