%nav.navbar.navbar-default.navbar-fixed-top{:role => :navigation}
  .container
    .col-md-8.col-md-offset-2
      #navbar
        .navbar-header
          %a{  :"ui-sref" => "home", class: 'navbar-brand' }
            Home
        %ul.nav.navbar-nav.pull-left
          %li
            %a{ :"ui-sref" => "tournaments" }
              Tournaments
