#navbar-container{ :'ng-controller' => 'NavbarCtrl' }
  %nav.navbar.navbar-default.navbar-fixed-top{:role => :navigation}
    .container
      .row.col-md-10.col-md-offset-1
        #navbar
          .navbar-header
            %a{  :"ui-sref" => "home", class: 'navbar-brand' }
              Home
          %ul.nav.navbar-nav.pull-left
            %li
              %a{ :"ui-sref" => "tournaments" }
                Tournaments
          %ul.nav.navbar-nav.pull-right
            %li.dropdown{ :"ng-show" => "isAuthenticated()" }
              %a.dropdown-toggle{ :"data-toggle" => "dropdown", id: "dropdown-menu", :"ng-href" => '#' }
                {{current_user.email}}
                %span.caret
              %ul.dropdown-menu{ role: "menu" }
                %li
                  %a{ :"ui-sref" => 'profile'}
                    My profile
                %li
                  %a{ :"ng-href" => '#', :"ng-click" => 'logout()', id: 'logout' }
                    Logout

            %li{ :"ng-show" => "!isAuthenticated()" }
              %a{ :"ui-sref" => "login" }
                Log In
            %li{ :"ng-show" => "!isAuthenticated()" }
              %a{ :"ui-sref" => "signup" }
                Sign Up
